.about-container {
    background: #1a1a1a;
    color: white;
    padding: 50px 10%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
    position: relative; /* ✅ add this */
}
@media screen and (min-width: 1300px) {
  .about-container {
    border-top: #ffffff 2px solid;
    border-radius: 50px;
  }
}
.about-container h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffcc00;
    text-align: center;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 40px;
}
#aboutme h2 span {
  display: inline-block;
  transition: transform 0.15s ease;
}

#aboutme h2 span:hover {
  transform: scale(1.5); /* Makes the letter grow */
}

.about-text {
    flex: 1;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}
.about-image {
    flex: 0.5;
    width: 300px;
    height: 300px;
}
.about-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    max-width: none;
}
p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 10px;
    transform: translateY(20px);
}
.highlight {
    color: #4CAF50;
    font-weight: bold;
}

@media screen and (max-width: 920px) {
    .about-container {
        padding: 30px 5%;
    }
    .about-content p {
        font-size: 1rem;
    }
    .about-image img {
        width: 200px;
        height: 200px;
    }
    .about-image{
        max-width: 200px;
    }
    .about-container h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .about-text{
        max-width: 200px;
    }
    
    
}
@media screen and (max-width: 700px) {
    .about-container h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .about-content p {
        font-size: 0.9rem;
        text-align: center;
    }
    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text{
        max-width: 500px;
    }

}

