

/* Bigger main cursor blob */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;      /* bigger circle */
  height: 20px;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference; /* invert effect */
  pointer-events: none;
  z-index: 11000;
  transform: translate(-50%, -50%) scale(1);
  transition: width 0.1s ease, height 0.1s ease;
}
@media screen and (max-width: 400px){
  .cursor{
    display: none;
  }
}
