.publication-container {
  padding: 80px 10%;
  text-align: center;
  background-color: #1a1a1a; /* or any color matching your portfolio */
  color: #fff;
  z-index: 1000;
  position: relative; /* ✅ add this */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.publication-container h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.publication-container h2 span {
  color: #ffcc00;
}
.publication-container span {
  display: inline-block;
  transition: transform 0.15s ease;
}


.publication-container span:hover {
  transform: scale(1.5); /* Makes the letter grow */
}

.publication-content {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 20px;
  margin-bottom: 50px;
  
}

.publication-text {
  flex: 1;
  text-align: left;
  /* max-width: 700px; */
  max-height: 400px;
}

.publication-text h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #00bfff;
}

.publication-text p {
  line-height: 1.7;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ccc;
  /* max-width: 400px; */
}

.read-more {
  display: inline-block;
  color: #00bfff;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid #00bfff;
  transition: all 0.3s ease;
}

.read-more:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.publication-image {
  flex: 1;
  text-align: center;
  max-width: 400px;
  max-height: 400px;
}

.publication-image img {
  width: 100%;
  border-radius: 16px;
  
}
.publication-content {
    padding: 20px;
  transition: all 0.3s ease; /* smooth hover effect */
  border-radius: 16px; /* optional: keep rounded corners */
  max-width: 700px;
  /* box-shadow: 20px 0 20px  rgba(44, 44, 44, 0.3); */
}
.pub-align1{
  font-size: 2rem;
}

/* Responsive */
@media (max-width: 900px) {
  .publication-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    top:130px;
    height: 800px;
  }
  .publication-container h2{
    top: 60px;
    font-size: 40px;
  }
  .publication-image {
    text-align: center;
  }

  .publication-text {
    text-align: center;
  }
  .publication-text h3{
    font-size: 25px;
  }
  .pub-align1{
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .publication-container h2{
    font-size: 25px;
    top: 70px;
  }
  .publication-content{
    top: 120px;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 500px;
  }
  .publication-text h3{
    font-size: 18px;
    margin-bottom: 5px;
  }
  #publication {
    padding: 15px;
  }
  .pub-align1{
    font-size: 18px;
  }
  .publication-text p{
    font-size: 14px;
  }
}